header{
    background: url(../images/mahmed.JPG);
    background-size: cover;
    background-position: center;
    min-height: 900px;
}

.section{
    padding-top: 2vw;
    padding-bottom: 2vw;
}






@media screen and(max-width: 670px){
    header{
        min-height: 450px;
    }
}